body {
   background-color: #44475A;
}
.container {
   display: flex;
   justify-content: center;
}
.titulo {
   background-color: #282A36;
   font-size: larger;
   color: white;

}
.conteudo {
   color: white;
   text-align: left;
   margin:auto 0;
   width: 400px;
}
