body {
   background-color: #44475A;
   font-family: 'Roboto', sans-serif;
}
.sectionheader {
   display: flex;
   flex-direction:row;
   height: auto;
   color: white;
   background-color: #282A36;
}
.titulo {
   font-size: 85px;
   text-align: center;
   margin: auto;
   line-height: 200px;
   height: 220px;
   position: relative;
}
.sobre {
   text-align: center;
   margin: auto;
   font-size: medium;
}
.sectioncontainer {
   display: flex;
   flex-direction:row;
   height: auto;
   color: white;
}
.sectioncontainer div {
   width: 75%;
   padding: 25px;
}
.conteudo {
   margin: auto 0;
   font-size: 18px;
   text-align: center;
}
.itens {
   text-align: center;
   padding: 20px;
   font-size: 22px;
   line-height: 36px;
   list-style-type: style;
}
.subtitulos {
   font-size: 25px;
   height: 65px;
}
.footer {
   background-color: #282A36;
   color: white;
   font-size: 17px;
   text-align: center;
   line-height: 60px;
   height: 70px;
}
